* {
    padding: 0;
    margin: 0;
}

nav {
    height: 6vw;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.47);
    /* justify-content: center; */
    align-items: center;
    padding: 0 5vw;
}

.main-logo {
    max-height: 100%;
}

.main-logo img {
    max-height: 100%;
     width: 13.73vw; 
}

.profile-icon {
  font-size: 3vw;
  color: chocolate;
}

.profile-icon:hover {
  color: cadetblue;
}

.profile-tab {
  margin: 0 0 0 auto;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
}

.profile-menu {
  position: absolute;
  width: fit-content;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  padding: 1vw 0;
  border-radius: 10%;
  border-top-right-radius: 0;
  top: 6vw;
  right: 0;
  background-color: darkseagreen;
}

.dropdown .link {
  padding: 0.75vw 2vw;
}

.dropdown .link:hover {
  background-color: blue;
  color: white;
}


